.errands-page {
  height: 100%;
  background-color: #f5f5f5;
}

.orders-list {
  padding: 12px;
}

.order-card {
  margin-bottom: 12px;
}

.take-btn {
  border-radius: 20px;
  background-color: #07c160;
  border: none;
  width: 100%;
}

.publish-form {
  padding: 12px;
  background-color: white;
  height: 100%;
}

.publish-btn {
  margin-top: 20px;
  border-radius: 8px;
  background-color: #07c160;
  border: none;
  width: 100%;
  padding: 12px 0;
}